@model MvcHomework3.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    <h5>Contacts</h5>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Phone)
            </th>
            <th></th>
        </tr>
        @{ var contacts = ViewBag.Contacts as List<MvcHomework3.Models.Contact>; }
        @foreach (var item in contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Contact", new { id = item.Id }, "")
                </td>
            </tr>
        }

    </table>
    <h5>Banks</h5>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Banks.FirstOrDefault().銀行名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks.FirstOrDefault().銀行代碼)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks.FirstOrDefault().分行代碼)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks.FirstOrDefault().帳戶名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks.FirstOrDefault().帳戶號碼)
            </th>
            <th></th>
        </tr>
        @{ var banks = ViewBag.Banks as List<MvcHomework3.Models.Bank>; }
        @foreach (var item in banks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.銀行名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.銀行代碼)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.分行代碼)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.帳戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.帳戶號碼)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Bank", new { id = item.Id }, "")
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
