@model MvcHomework3.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@*@Html.ActionLink("Kingston (edit)", "Edit", "Contact", new{id=12}, new { @class = "btn" })*@
<div>
    <h4>Customer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    @*@Html.Partial("ContactList", (object)ViewBag.Contacts)*@
    @*@Html.Partial("BankList", (object)ViewBag.Banks)*@
    @Html.Action("BankList", new { id = Model.Id })
    @Html.Action("ContactList", new { id = Model.Id })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
